.App {
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
}

.App-header {
    color: white;
    background-color: rgb(30,34,170);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}


