/* Checkout.module.css */
.checkoutContainer {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .checkoutTitle {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formSection {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .orderButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .orderButton:hover {
    background-color: #0056b3;
  }
  
  .orderSummary {
    margin-top: 30px;
  }
  
  .summaryTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
 
  .cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quantityContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .quantityButton {
    /* Style your quantity buttons (e.g., padding, margin, etc.) */
    margin: 0 10px;
  }
  .quantity {
    /* Optional: If you want to specifically control the space around the quantity */
    margin: 0 5px; /* Adjust the spacing around the quantity text */
  }
  .removeButton {
    /* Style your remove button */
    margin-left: auto; /* This pushes the remove button to the right */
  }
  