.navbar {
  background: orange;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  width: 100%;
  max-width: 1200px; /* Adjust max-width for better spacing */
  padding: 0 20px; /* Add padding on the sides */
  position: relative;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center; /* Ensure logo is vertically centered */
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
  position: relative; /* Enables absolute positioning of the search icon inside */
}
.search-bar input[type="text"] {
  padding: 0.5rem;
  width: 100%; /* Make input take up all available width */
  /* Add padding-right to prevent text from being hidden behind the icon */
  padding-right: 40px; /* Adjust based on the size of your search icon */
}

.search-bar button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.7rem;
  cursor: pointer;
  background: none; /* Remove any default styling */
  border: none; /* Remove any default styling */
}

.navbar-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0; /* Reset margin */
}


.navbar-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.icon-spacing {
  margin-right: 8px;
}

.navbar-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}


  
  /* Removed hover effects */
  /*.navbar-links:hover {
    background-color: #555;
    border-bottom: 2px solid #ddd;
  }*/
  

  /** LOGIN DROPDOWN **/
  .login-dropdown {
    position: absolute;
    top: 100%; 
    right: 0; 
    background: white;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000; 
    width: 300px; 
}

.login-dropdown input {
    width: 93%; 
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-dropdown button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-dropdown.hidden {
    display: none;
}

.login-dropdown label {
  text-align: left;
  margin-bottom: 5px;
  color: #333; 
  display: block; 
  text-align: left;
}