.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-container img {
    width: 300px;
    border-radius: 4px;
    padding: 20px;
    /*max-width: 800px;*/
    margin: 20px auto;
}

.products-container img:hover {
    background-color: #ffffff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.store-h2, .store-p{
    margin-left: 10px;
}

