.products-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;
}

.sort-options {
    margin-left: 20px;
}

.card-box {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 100px;
}

.camel-card {
    border-radius: 4px;
    padding: 20px;
    flex: 0 1 22%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    margin: 10px;
}

.camel-card img {
    width: 250px;
    height: 200px;
    align-self: center;
}

.camel-card:hover {
    background-color: #ffffff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.price {
    display: flex;
    flex-direction: row;
}

#cartButton {
    width: 20%;
    height: 40%;
    margin: auto;
}

.store-h2, .store-p{
    margin-left: 10px;
}

.stock {
    color: red;
}


@media (max-width: 600px) {
    .products-container {
      flex-direction: column;
    }

    .camel-card {
        flex-direction: row;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
        font-size: small;
    }

    .camel-card img {
        max-width: 100px;
    }
  }